.venv/Lib/site-packages/google_generativeai-0.8.4-py3.12-nspkg.pth
.venv/Lib/site-packages/_distutils_hack/__init__.py
.venv/Lib/site-packages/distutils-precedence.pth
.venv/pyvenv.cfg
.venv/Lib/site-packages/google_auth_httplib2.py
.venv/Lib/site-packages/__pycache__/google_auth_httplib2.cpython-311.pyc
.venv/Lib/site-packages/*
.venv/*
.env
gemini-test-453519-7f2632e52d64.json
